.aboutIntro {
  margin: 0 auto;
  text-align: center;
  > h2 {
    font-size: 80px;
  }
}
.employeeWrap {
  padding: 0;
  margin: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  .employee {
    flex: 1 100%;
  }
  .employeeImage {
    width: 40vw;
    height: 40vw;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 100%;
    margin: 20px auto;
    border: 10px solid $darkTransparent;
    padding: 20px 0px 0px 20px;
  }
}
.employeeDesc {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  h3 {
    background-color: $accentPink;

  }
}
//Profilbilder
#victor {
  background: url(../img/victor.jpeg) no-repeat center center;
  background-size: cover;
}
#robin {
  background: url(../img/robin.jpeg) no-repeat center center;
  background-size: cover;
}
#joel {
  background: url(../img/joel.jpeg) no-repeat center center;
  background-size: cover;
}
#mina {
  background: url(../img/mina.jpeg) no-repeat center center;
  background-size: cover;
}
.employeeName {}
.employeeTitle {}
.employeeQuote {}
.employeeProfile {}

@include tabletAnddesktop {
  .employeeWrap {
    .employee {
      flex: 1 50%;
    }
  }
}

@include desktop {
  .employeeWrap {
    .employee {
      flex: 1 25%;
    }
    .employeeImage {
      width: 20vw;
      height: 20vw;
    }
  }
}
