.aboutIntro {
  margin: 0 auto;
  text-align: center;
  background-color: $accentPink;
}
.employeeWrap {
  padding: 0;
  margin: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  #victor {
    background: url(../img/victor.jpg) no-repeat center center;
  }
  #robin {
    background: url(../img/robin.jpeg) no-repeat center center;
  }
  #joel {
    background: url(../img/joel.jpg) no-repeat center center;
  }
  #nina {
    background: url(../img/nina.jpg) no-repeat center center;
  }
  .employee {
    flex: 1 100%;
    @include tabletAnddesktop {
      flex: 1 50%;
    }
    @include desktop {
      flex: 1 25%;
    }
  }
}
.employeeImage {
  width: 40vw;
  height: 40vw;
  margin: 20px auto;
  border: 10px solid $accentPink;
  padding: 20px 0 0 20px;
  background-size: cover!important;
  @include border-radius (50%);
  @include box-sizing;
  &:hover,
  &:focus {
    border: 5px solid $accentPink;
  }
  @include desktop {
    width: 20vw;
    height: 20vw;
  }
}
.employeeDesc {
  width: 80%;
  text-align: center;
  margin: 0 auto 10px;
  h3 {
    background-color: $accentPink;
  }
}
#offerWrap,
#awardsWrap,
#philosophyWrap,
#historyWrap {
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  li {
    margin: 20px 0;
  }
}
