footer {
position: relative;
margin-top: 0;
width: 100%;
text-align: center;
height:30%;
min-height: 500px;
line-height: $lineHeight*4;   

    
    address{
    font-style: normal;
    @include centerBoth;  
   
        
        a, p {
          color: $brightFont;  
          font-size: $baseFont*1.1;
          font-weight: 500;  
            letter-spacing: 1px;
            
        }    
        
    }    
   
    
}