footer {
    background-color: $dark;
    position: relative;
    width: 100%;
    margin-top: 8%;
    text-align: center;
    height: 30%;
    min-height: 500px;
    @include desktop {
        min-height: 1200px;
    }
    .adress {
        position: absolute;
        display: block;
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        height: 50%;
        @include desktop {
            height: 40%;
        }
        .info {
            font-style: normal;
            width: 100%;
            line-height: $lineHeight*3;
            @include desktop {
                margin-top: 2%;
                line-height: $lineHeight*3;
            }
            a,
            p {
                color: $brightFont;
                font-size: $baseFont*1;
                font-weight: 500;
                letter-spacing: 1.1px;
                text-decoration: none;
            }
        }
    }
    .map {
        display: none;
        @include desktop {
            overflow: hidden;
            position: absolute;
            display: block;
            margin-left: 0;
            margin-top: 35%;
            width: 100%;
            height: 50%;
            background-color: #000;
            background-blend-mode: darken;
            background-size: cover;
        }
        
        .logo {
            display: none;
            @include desktop {
                display: block;
                font-family: $headings;
                color: $mainFont;
                font-size: 1em;
                top: 5%;
                left: 2%;
                font-size: 5em;
                top: 50%;
                @include centerBoth;
            }
        }
    }
    #map {
        width: 100%;
        height: 100%;
        @include opacity(0.5);
        
    }
    .social {
        position: absolute;
        bottom: 0;
        display: block;
        margin-top: 0;
        width: 100%;
        height: 17.9999%;
        .sociallinks {
            @include centerVertical;
            color: $accentPink;
            font-size: 2em;
            width: 100%;
            background-color: deeppink;
            #facebook,
            #twitter,
            #instagram {
                position: absolute;
            }
            #facebook {
                left: 25%;
                @include tabletAnddesktop {
                    left: 45%;
                }
            }
            #instagram {
                left: 50%;
                @include tabletAnddesktop {
                    left: 50%;
                }
            }
            #twitter {
                left: 75%;
                @include tabletAnddesktop {
                    left: 55%;
                }
            }
        }
    }
}

#footerLogo {
    display: block;
    font-family: $logo;
    color: $mainFont;
    font-size: 1.2em;
    @include desktop {
        font-size: 2em;
    }
    span {
        color: $accentPink;
    }
}