body#home a#home-,
body#about a#about-,
body#contact a#contact-,
body#awards a#awards-,
body#works a#works-,  {
color: $accentPink;    
    
    @include desktop{
      color: $brightFont;      
      border-bottom: 2px solid $accentPink;   
        
    }


}





