body.home a.home-,
body.about a.about-,
body.contacts a.contacts-,
body.awards a.awards-,
body.works a.works-,  {
color: $accentPink;    
    
    @include desktop{
      color: $brightFont;      
      border-bottom: 2px solid $accentPink;  
        
    }


}





