$pathNumber: 38;
$firstColor: #C30045;
$listColors: #EE0054, #F50057, #F63076, #F75F95, $firstColor;
$delayCoeff: 0.3s;
#svg {
  display: inline-block;
  vertical-align: middle;
  fill: $firstColor;
  -webkit-fill: $firstColor;
  @for $i from 1 through 38 {
    polygon:nth-child(#{$i}) {
      animation: pweek $delayCoeff*$pathNumber linear infinite;
      animation-delay: $i*$delayCoeff;
    }
  }
}
@keyframes pweek {
  0% {
    fill: $firstColor;
    -webkit-fill: $firstColor;
  }
  @for $i from 1 through length($listColors) {
    #{$i*(100/length($listColors))}% {
      fill: nth($listColors, $i);
      -webkit-fill: nth($listColors, $i);
    }
  }
}
