
/*
* Base stiles
*/
        
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        
        body {
            font-size: $baseFont;
            //color: #fff;
            color: #000;
            overflow-x: hidden;
          //  background-color: darken(#230000, 5%);
            background-color: #fff;
        }
        
        p {
            font-family: 'Raleway';
            font-size: $baseFont;
            @media (max-width: 550px) {
                font-size: $baseFont*1.2;
            }
        }
        
        h1,
        h2,
        h3 {
            font-family: 'Arvo';
            color: #000; //
        }
        
        a {
            color: #F50057;
            text-decoration: none;
        }
        
        a:hover {
            color: #9E5A3F;
        }
        
        a:active {
            color: hsla(275, 80%, 35%, 0.57);
        }
        
        .page-wrapper {
            width: 100%;
            height: 100%;
            position: relative;
        }
/*
* Into & Header
*/
        
        .intro {
            position: relative;
            width: 100%;
        }
        
        header {
            display: inline-block;
            width: 100%;
            margin: 0 auto;
            position: relative;
            color: #000;
            height: 50vh;
            h1 {
                font-size: 3.5rem;
                 color:$brightFont;
                letter-spacing: 2px;
                font-family: 'happy';
                span {
                    font-size: 5rem;
                }
            }
            h2 {
                font-size: 1rem;
                margin-left: 8%;
                margin-top: -5%;
            }
            @media (min-width: 514px) {
                h1 {
                    font-size: 6rem;
                }
                h2 {
                    font-size: 1.2rem;
                }
            }
            @media (min-width: 798px) {
               // background-image: linear-gradient(hsla(258, 3%, 10%, 0.43), hsla(258, 3%, 10%, 0.43)), url('../darkPattern.png');
                background-image: url('../wave.jpg');
                
                background-color: #EE6E73;
                //background-image: url('../darkPattern.png');
                //background-size: cover;
                //background-repeat: no-repeat;
                //background-position: center center;
                background-blend-mode: multiply;
                display: block;
                margin-bottom: 5%;
                width: 100%;
                height: 100vh;
                text-align: center;
                h1 {
                    font-size: 2rem;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    position: absolute;
                }
                h2 {
                    font-size: 1.1rem;
                    margin-left: 5%;
                    margin-top: -3%;
                }
            }
            @media (min-width: 1000px) {
                h1 {
                    font-size: 7rem;
                }
                h2 {
                    font-size: 1rem;
                }
            }
            @media (min-width: 1200px) {
                h1 {
                    font-size: 10rem;
                }
                h2 {
                    font-size: 2rem;
                }
            }
        }
        
        .action {
            width: 14%;
            height: 0;
            padding: 7% 0;
            border-radius: 50%;
            background-color: #F50057;
            //position: absolute;
            right: 5%;
            bottom: 40%;
            display: inline-block;
            position: fixed;
            text-align: center;
            
            &:hover{
            opacity: 0.5;
            }
            
            i {
                color: red;
                font-size: 2rem;
                margin-top: -32%;
            }
      
            
            
            @media (min-width: 798px) {
            width: 5%;
            height: 0;
            padding: 2.5% 0;
            border-radius: 50%;
            background-color: #F50057;
            position: fixed;
            right: 2%;
            top: 85vh;
                
            }
            i {
                color: #fff;
                font-size: 2rem;
                margin-top: -32%;
            }
            
            
        }
        /*
* Articles
*/
        
        div[role=article] {
            h3 {
                font-size: 2rem;
                text-transform: capitalize;
                margin-left: 1%;
                margin-top: 5%;
                padding-bottom: 2%;
            }
            p {
                width: 100%;
                line-height: 175%;
                margin-left: 3%;
                padding-top: 1%;
                margin-bottom: 3%;
            }
            @media (min-width: 768px) {
                display: block;
                margin-bottom: 2%;
                h3 {
                    font-size: 3.5rem;
                }
                p {
                    margin-bottom: 5%;
                }
            }
        }
        
        .summary {
            margin-left: 4%;
            margin-top: 5%;
            width: 85%;
            @media (min-width: 798px) {
                position: absolute;
                margin-left: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 52%;
                width: 25%;
                font-size: $baseFont*0.6;
                text-align: center;
                @media (min-width: 1000px) {
                    top: 55%;
                    font-size: $baseFont*0.8;
                }
            }
        }
        
        .preamble {
            margin-left: 4%;
            width: 85%;
            border-right: 7px solid #fff;
            @media (min-width: 798px) {
                border-top: 10px solid #5C5757;
                margin-right: 7.5%;
                width: 41.2%;
                float: right;
            }
        }
        /*
* MAIN
*/
        
        .main {
            width: 96%;
            @media (min-width: 798px) {
                width: 100%;
                display: inline-block;
            }
        }
        
        .explanation,
        .benefits {
            margin-left: 4%;
            border-top: 7px solid #fff;
            @media (min-width: 798px) {
                border-top: 10px solid #5C5757 ;
                margin-left: 7.5%;
                width: 41.2%;
                float: left;
            }
        }
        
        .participation,
        .requirements {
            margin-left: 4%;
            border-top: 7px solid #fff;
            @media (min-width: 798px) {
                border-top: 10px solid #5C5757 ;
                margin-right: 7.5%;
                width: 41.2%;
                float: right;
            }
        }
        /*
* Sidebar
*/
        
        .sidebar {
            margin: 0 auto;
            width: 96%;
            h3 {
                margin-top: 5%;
                font-size: 2rem;
            }
            a {
                line-height: 200%;
                font-size: $baseFont*1.2;
                display: inline-block;
                padding-left: 2%;
            }
            @media (min-width: 798px) {
                display: block;
                width: 100%;
                margin-top: 5%;
                padding-top: 2%;
                margin-bottom: 10%;
                border-top: none;
                h3 {
                    font-size: 2.5rem;
                }
            }
        }
        
        .design-selection,
        .design-archives,
        .zen-resources {
            padding-left: 3%;
            a {
                margin-bottom: 2%;
            }
            h3 {
                margin-left: 1%;
            }
            border-top: 10px solid #5C5757 ;
            @media (min-width: 798px) {
                border-top: 10px solid #5C5757 ;
                border: none;
                display: inline-block;
                margin-left: 4.5%;
                vertical-align: text-top;
            }
        }
        
        @media (min-width: 798px) {
            .design-selection {
                margin-left: 4.5%;
            }
            .design-archives {
                margin-top: 0.8%;
                margin-left: 5.5%;
                h3 {}
            }
            .zen-resources {
                margin-top: 0.8%;
                //margin-left: -1%;
                h3 {}
            }
        }
        
        div[role=article] abbr {
            font-weight: 600;
        }
        /*
* Images
*/
        
        .projectImage {
            max-width: 70%;
            margin-right: 7.5%;
            margin-top: -1.2%;
            width: 41.2%;
            float: right;
        }