    * {
        padding: 0;
        margin: 0;
    }
    
    html,
    body {
        overflow-x: hidden;
        background-color: $dark;
        color: $mainFont;
        font-family: $text;
        font-size: $baseFont;
        width: 100%;
    }
    
    header {
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        height: 40vh;
    }
    
    header#home {
        @include desktop {
            height: 100vh;
        }
    }
    
    header#contacts,
    header#about,
    header#Training365,
    header#Craftfood,
    header#Tittut,
    header#Eko,
    header#works {
        @include desktop {
            height: 50vh;
        }
    }
    
    .logo {
        font-family: $logo;
        color: $brightFont;
        font-size: 3em;
        top: 10%;
        left: 2%;
        position: absolute;
        width: 100%;
        @include desktop {
            font-size: 5em;
            top: 50%;
            position: absolute;
            top: 50%;
            left: 52%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
        }
        span {
            color: $accentPink;
        }
    }
    
    .svglogo {
        width: 20%;
        @include centerBoth;
    }
    
    .currentPage {
        color: $brightFont;
        font-size: 1em;
        top: 45%;
        left: 5%;
        position: absolute;
        text-transform: uppercase;
        @include transition(1s);
        @include desktop {
            display: none;
        }
    }
    
    main {
        position: relative;
        margin-top: 0;
    }
    
    wrapper {
        min-height: 100%;
        position: relative;
    }
    
    // Clearfix
    .clear:after {
        content: '';
        display: table;
        clear: both;
    }