.project {
    box-sizing: border-box;
    background-color: $dark;
    margin-bottom: 15%;
    article {
        color: $brightFont;
        width: 100%;
        @include desktop {
            box-sizing: border-box;
            width: 49.8%;
            min-height: 350px;
            display: inline-block;
            margin-top: 0.5%;
        }
        p {
            //width: 50%;
            line-height: $lineHeight*1.8;
            margin-left: 5%;
            @include desktop {
                line-height: $lineHeight*2;
            }
        }
        h2 {
            line-height: $lineHeight*2.5;
            margin-left: 3%;
            font-family: $headings;
            @include desktop {
                font-size: 2.5em;
            }
        }
        a {
            text-decoration: none;
            color: $accentPink;
            margin-left: 5%;
            @include desktop {
                line-height: $lineHeight*2;
            }
        }
        figure {
            width: 90%;
            margin: 0 auto;
            a {
                margin-left: 0;
            }
        }
        img {
            max-width: 100%;
        }
    }
    #eko {
        background-image: url(../img/work/thumbnails/eko.jpg);
    }
    #training365 {
        background-image: url(../img/work/thumbnails/training.jpg);
    }
    #tittut {
        background-image: url(../img/work/thumbnails/tittut.jpg);
    }
    #craftfood {
        background-image: url(../img/work/thumbnails/craftfood.jpg);
    }
}