//Colors
$dark:#0A0000;
$accentPink:#F50057;
$brightFont:hsla(303, 4%, 100%, 0.8);
$mainFont: #fff;
$gradient:hsla(258, 3%, 10%, 0.43;


//Fonts
$baseFont:100%;
$headings:'Arvo', serif;
$text:'Raleway', sans-serif;









