.work {
    box-sizing: border-box;
    background-color: $dark;
    #workHeader {
        margin-bottom: 15%;
        line-height: $lineHeight*2;
        text-align: center;
        @include desktop {
            margin-bottom: 5%;
        }
        h1 {
            font-family: $headings;
            margin-left: 3%;
            line-height: $lineHeight*2.5;
        }
        p {
            margin-left: 5%;
        }
    }
    a {
        text-decoration: none;
    article {
        color: $brightFont;
        width: 100%;
        background-size: cover;
        background-blend-mode: overlay;
        background-color: $darkTransparent;
        min-height: 200px;
        &:hover {
            background-color: darken(grey, 5%);
        }
        @include desktop {
            box-sizing: border-box;
            width: 49.8%;
            min-height: 350px;
            display: inline-block;
            margin-top: 0.5%;
        }
        p {
            width: 50%;
            line-height: $lineHeight*1.8;
            margin-left: 5%;
            @include desktop {
                line-height: $lineHeight*2;
            }
        }
        span {
            background-color: $accentPinkTrans;
            width: 60%;
            display: block;
            
            
            @include tablet{
            width:45%;    
                
            }
        
            
            @include desktop {
             width: 50%;   
                
            }
            h2 {
                line-height: $lineHeight*2.5;
                margin-left: 2%;
                font-family: $headings;
                font-size: $baseFont;
                @include desktop {
                    font-size: 1.3em;
                }
            }
        }
        a {
            text-decoration: none;
            color: $accentPink;
            margin-left: 5%;
            @include desktop {
                line-height: $lineHeight*2;
            }
        }
    }
        
    }
    #eko {
        background-image: url(../img/work/thumbnails/eko.jpg);
    }
    #training365 {
        background-image: url(../img/work/thumbnails/training.jpg);
    }
    #tittut {
        background-image: url(../img/work/thumbnails/tittut.jpg);
    }
    #craftfood {
        background-image: url(../img/work/thumbnails/craftfood.jpg);
    }
}