nav {
    width: 70%;
    margin: 0 auto;
    ul {
        // Remove margin to place header all the way to the top.
        margin: 0;
        li {
            float: left;
            list-style-type: none;
            margin: 20px 50px;
        }
    }
}

nav a {
    color: $mainFont;
    font-size: 1em;
    text-decoration: none;
    padding: 10px;
    &:hover {
        border-bottom: 2px solid $accentPink;
    }
    
    @include tablet{
    color:red;    
        
    } 
    
    
    
} // END Navigation