### File types to be ignored by git ###
#OSX
.DS_Store


### CodeKit ###
# General CodeKit files to ignore
config.codekit
/min


### Sass cache ###
scss/.sass-cache/

## Temporary ignore style.css ##
css/*